body{
    font-size: 12px;
    font-family: sans-serif;
    background: #2c3e50;
}
h1{
    color: white;
    font-family: sans-serif;
    text-align: center;
}

.logo{
    text-align: center;
    gap: 1em;
}
p{
    color:white;
}
